@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
body{
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-position: center center;
	vertical-align: top;
	max-width:90%;
	  
}
.navbar-inverse {
   background-color: #dfdfdf;
   color: #aa7aca;
   border-color:#e0e0e0;
}
.navbar .nav > li > a {
    color: #aa7aca;
     } 
  .dropdown-menu > li > a {
  color: #aa7aca;
  }
.navbar .nav > li > a:hover { color:#871e1b;}
.dropdown-menu > li > a:hover {
color: #871e1b;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
	background-color:#dfdfdf;
}
.social{
	padding-top:10px;
}
.navbar-default .navbar-text {
   background-color: #dfdfdf;
   color: #aa7aca;
}
.container{
	background-color: #dfdfdf;
	
}
.panel-footer {
	background-color:#dfdfdf ;
	;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	border-top:none;
}
.panel-footer>p {
	color:#aa7aca;
	float:left;
}
.panel-footer>ul {
	list-style:none;
}
.panel-footer>ul>li>a {
	color:#aa7aca;
	padding:0 2.5em;
}
.navbar-default .navbar-nav>li>a:hover {
	color:#871e1b;
}
a:hover {
	color: #fff;
	
}
/* footer */
.facebook,.twitter {
	float:right;
}
.facebook{
	margin-left: .9%;
}
/* slideshow */ 
.carousel-inner {
position: relative;
width: 100%;
overflow: hidden;
padding-left: 25%;
padding-right: 25%;
background-color: transparent;
}
a.carousel-control.left{
	width: .5%;
	background-color: transparent;
}
a.carousel-control.right{
	width: .5%;
	background-color: transparent;
}
.carousel-control
p.tour_dates{
	padding-top:40%;
}
/* button */
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-infor.active,
.open .dropdown-toggle.btn-info{
	color: #ffffff;
	background-color: #3f2b22;
	border-color: #333;
}
.btn-info{
	background-color: #cdae51;
	border-color:#3f2b22;
	color: #ffffff;	
}
div.caption{
	background-color:#dfdfdf ;
}

a.ticket{
	color:#aa7aca ;

}
a.ticket:hover{
	color: #871e1b;
}

h4.tour{
	color:#aa7aca;
}
p.tour{
	color: #871e1b;
	
}
.glyphicon{
	color: #5d6d67;
}
div.col-lg-2{
	margin: 0;
}
@media (max-width: 767px) {	
p.tour_top{
padding-top:10%;}
}

@media (max-width: 480px) {p.tour_top{
padding-top:0;}  }