@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
body{
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-position: center center;
	vertical-align: top;
	max-width:90%;
	  
}
.container {
background-color: #D4D4D4;
margin: 0px auto;
padding-right:24px;
padding-left:24px;
}
/* navbar */
.navbar-inverse {
   background-color: #dfdfdf;
   color: #aa7aca;
   border-color:#e0e0e0;
}
.navbar .nav > li > a {
    color: #aa7aca;
     } 
  .dropdown-menu > li > a {
  color: #aa7aca;
  }
.navbar .nav > li > a:hover { color:#871e1b;}
.dropdown-menu > li > a:hover {
color: #871e1b;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
	background-color:#dfdfdf;
}
.navbar-default .navbar-text {
   background-color: #dfdfdf;
   color: #aa7aca;
}
.navbar-collapse {
width: 100%;
border-top: 0;
box-shadow: none;
}
.container{
	background-color: #dfdfdf;
	
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
	background-color:#871e1b;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
color:#871e1b;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus{
	color:#871e1b;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
	color:#aa7aca;
	background-color:#dfdfdf;
}


/* button */
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-infor.active,
.open .dropdown-toggle.btn-info{
	color: #ffffff;
	background-color: #3f2b22;
	border-color: #333;
}
.btn-info{
	background-color: #cdae51;
	border-color:#3f2b22;
	color: #ffffff;	
}
div.caption{
	background-color:#dfdfdf ;
}

a.ticket{
	color:#aa7aca ;

}
a.ticket:hover{
	color: #871e1b;
}

h4.tour{
	color:#aa7aca;
}
p.tour{
	color: #871e1b;
	
}
.glyphicon{
	color: #5d6d67;
}
div.col-lg-2{
	margin: 0;
}
div.ticket2{
	margin-top: 10%;
	border-right: 1px solid #5d6d67;
	background: transparent;
}
/* slideshow */
a.carousel-control
{
  top: 45%;
  left: 8px;
  width: 40px;
  height: 40px;
  margin-top: 0px;
  font-size: 48px;
  font-weight: 100;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #222;
  border: 3px solid #fff;
  border-radius: 50%;
  opacity: 0.3;
}
a.carousel-control.right
{
  right:0px;
}
.carousel-caption
{
color:#871e1b ;
}
.item.active:hover > .carousel-caption
{
  opacity:0.8;
}
.carousel-inner {
position: relative;
overflow: hidden;
width: 100%;
margin-left: 5%;
}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img{
	display: block;
	max-width: 90%;
	height: auto;
}
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right{
	right: 0;
}
/* bio */
img.bio{
	width:1100px;
	height: 492px;
}
img.band{
	width: 350px;
	height: 200px;
}
.band{
	margin-top: 3%;
}
p.bio{
	color:#aa7aca;
}
h4.bio{
	color:#871e1b ;
}
.line{
	border-bottom: 1px solid black;
}
/* footer */
footer{
   
	text-align: left;
	padding: 0 2%;
	
}
a.footer{
	color:#aa7aca;
	}
a.footer:hover{
	color:#871e1b ;
}
/* media quries */
@media (max-width: 767px) {
img.bio{
	width: 580px;
	height: 580px;
}
a.carousel-control
{

  left: 8px;
  width: 35px;
  height: 35px;
  margin-top: 0px;
  font-size: 25px;
  font-weight: 100;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #222;
  border: 3px solid #fff;
  border-radius: 50%;
  opacity: 0.3;
}
a.carousel-control.right
{
  right:0px;
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{
	top: 0;
}
span.glyphicon.glyphicon-chevron-left{
	left: 0;
}
h3{
	display: none;
}
.carousel-indicators li{
	width: 5px;
	height: 5px;
}
.carousel-indicators .active{
	width: 10px;
	height: 10px;
}

}
@media (max-width: 1200px){
img.bio{
	width: 900px;
	height: 580px;
}
a.carousel-control
{
  top: 45%;
  left: 8px;
  width: 40px;
  height: 40px;
  margin-top: 0px;
  font-size: 30px;
  font-weight: 100;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #222;
  border: 3px solid #fff;
  border-radius: 50%;
  opacity: 0.3;
}
a.carousel-control.right
{
  right:0px;
}
}